@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .theme-darcula {
        --color-crust: #100710;
        --color-base: #160A16;
        --color-surface: #16071C;
        --color-overlay: #371D25;
        --color-text: #E67D83;
        --color-disabled: #EC5F67;
        --color-enabled: #99C794;
        --color-accent: #5FB3B3;
    }
    .theme-light {
        --color-crust: #100710;
        --color-base: #160A16;
        --color-surface: #16071C;
        --color-overlay: #371D25;
        --color-text: #E67D83;
        --color-disabled: #EC5F67;
        --color-enabled: #99C794;
        --color-accent: #5FB3B3;
    }
    .theme-moonlight {
        --color-crust: #100710;
        --color-base: #160A16;
        --color-surface: #16071C;
        --color-overlay: #371D25;
        --color-text: #E67D83;
        --color-disabled: #EC5F67;
        --color-enabled: #99C794;
        --color-accent: #5FB3B3;
    }
    .theme-brimstone {
        --color-crust: #100710;
        --color-base: #160A16;
        --color-surface: #16071C;
        --color-overlay: #371D25;
        --color-text: #E67D83;
        --color-disabled: #EC5F67;
        --color-enabled: #99C794;
        --color-accent: #5FB3B3;
    }
    .theme-purple-rain {
        --color-crust: #100710;
        --color-base: #160A16;
        --color-surface: #16071C;
        --color-overlay: #371D25;
        --color-text: #E67D83;
        --color-disabled: #EC5F67;
        --color-enabled: #99C794;
        --color-accent: #5FB3B3;
    }
    .theme-monokai {
        --color-crust: #100710;
        --color-base: #160A16;
        --color-surface: #16071C;
        --color-overlay: #371D25;
        --color-text: #E67D83;
        --color-disabled: #EC5F67;
        --color-enabled: #99C794;
        --color-accent: #5FB3B3;
    }
    .theme-forest {
        --color-crust: #100710;
        --color-base: #160A16;
        --color-surface: #16071C;
        --color-overlay: #371D25;
        --color-text: #E67D83;
        --color-disabled: #EC5F67;
        --color-enabled: #99C794;
        --color-accent: #5FB3B3;
    }
    .theme-oled-dark {
        --color-crust: #100710;
        --color-base: #160A16;
        --color-surface: #16071C;
        --color-overlay: #371D25;
        --color-text: #E67D83;
        --color-disabled: #EC5F67;
        --color-enabled: #99C794;
        --color-accent: #5FB3B3;
    }
}