@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .theme-darcula {
        --color-crust: #2b2b2b;
        --color-base: #323232;
        --color-surface: #3c3f41;
        --color-overlay: #4e5253;
        --color-text: #b4b3a7;
        --color-disabled: #8F4141;
        --color-enabled: #417E4C;
        --color-accent: #567899;
    }
    .theme-amoled {
        --color-crust: #000000;
        --color-base: #000000;
        --color-surface: #000000;
        --color-overlay: #FFFFFF;
        --color-text: #FFFFFF;
        --color-disabled: #FF0000;
        --color-enabled: #00FF00;
        --color-accent: #FFFFFF;
    }
    .theme-deep-ocean {
        --color-crust: #02070f;
        --color-base: #040c18;
        --color-surface: #02070f;
        --color-overlay: #FFFFFF;
        --color-text: #FFFFFF;
        --color-disabled: #FF0000;
        --color-enabled: #00FF00;
        --color-accent: #FFFFFF;
    }
    .theme-light {
        --color-crust: #f2f2f2;
        --color-base: #e2e6ec;
        --color-surface: #ffffff;
        --color-overlay: #dbdbdb;
        --color-text: #000000;
        --color-disabled: #EC5F67;
        --color-enabled: #7dba89;
        --color-accent: #5FB3B3;
    }
    .theme-moonlight {
        --color-crust: #191a2a;
        --color-base: #1e2030;
        --color-surface: #222436;
        --color-overlay: #2f334d;
        --color-text: #99a5ca;
        --color-disabled: #d54a65;
        --color-enabled: #499c54;
        --color-accent: #7f97cb;
    }
    .theme-purple-rain {
        --color-crust: #100710;
        --color-base: #160A16;
        --color-surface: #16071C;
        --color-overlay: #371D25;
        --color-text: #E67D83;
        --color-disabled: #EC5F67;
        --color-enabled: #99C794;
        --color-accent: #5FB3B3;
    }
    .theme-gruvbox {
        --color-crust: #1D2021;
        --color-base: #282828;
        --color-surface: #3C3836;
        --color-overlay: #504945;
        --color-text: #EBDBB2;
        --color-disabled: #FB4934;
        --color-enabled: #B8BB26;
        --color-accent: #98971A;
    }
    .theme-cat-macchiato {
        --color-crust: #181926;
        --color-base: #24273a;
        --color-surface: #363a4f;
        --color-overlay: #6e738d;
        --color-text: #cad3f5;
        --color-disabled: #ed8796;
        --color-enabled: #a6da95;
        --color-accent: #f0c6c6;
    }
    .theme-cat-mocha {
        --color-crust: #11111b;
        --color-base: #1e1e2e;
        --color-surface: #313244;
        --color-overlay: #6c7086;
        --color-text: #cdd6f4;
        --color-disabled: #f38ba8;
        --color-enabled: #a6e3a1;
        --color-accent: #f2cdcd;
    }
    .theme-cat-frappe {
        --color-crust: #232634;
        --color-base: #303446;
        --color-surface: #414559;
        --color-overlay: #737994;
        --color-text: #c6d0f5;
        --color-disabled: #e78284;
        --color-enabled: #a6d189;
        --color-accent: #eebebe;
    }
    .theme-halloween {
        --color-crust: #0a0a0a;
        --color-base: #e77f1e;
        --color-surface: #000000;
        --color-overlay: #462d12;
        --color-text: #ffffff;
        --color-disabled: #b8272a;
        --color-enabled: #74d136;
        --color-accent: #8c00ff;
    }
}
